@model IEnumerable<BlessTrading.Common.Models.Cart>

@if (Model != null)
{
    int count = 0;
    int sum = 0;

    <div class="modal-body">
        <div class="login_wrap">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <h2><span>Your Cart </span></h2>
                    </div>

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="font-size:14px">Id</th>
                                <th style="font-size:14px">Name</th>
                                <th style="font-size:14px">Price color</th>
                                <th style="font-size:14px">Quantity</th>
                                <th style="font-size:14px">Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                sum = Convert.ToInt32(@item.Price) + sum;
                                count = count + 1;

                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Name</td>
                                    <td> @item.Price</td>
                                    <td>
                                        <input type="button" value="-">
                                        <input type="text" step="1" min="1" max="" name="quantity" value="1" title="Qty" size="2" class="input-text qty text" pattern="" inputmode="">
                                        <input type="button" value="+">
                                    </td>
                                    <td><button style="font-size:20px;color:red"> <i class="fa fa-trash-o " onclick="location.href='@Url.Action("DeleteCart", "Category", item)'"></i></button></td>
                                </tr>

                            }
                            <tr>
                                <td colspan="4" class="text-right"><b>Total: $@sum</b></td>
                                <td colspan="5" class="text-left">
                                    <b>Total: @count</b>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Index", "Home")'"> Continue Shopping >></button>
                    <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("CheckOut", "Carts")'"> Check Out >></button>
                    <script>
                                function checkUserLogin() {
                                    alert('call checkuserlogin');
                                    $.ajax({
                                         url: "@Url.Action("CheckOut", "Carts")"
                                              , success: function (result) {
                                           }
                                            , error: function (result) {
                                                alert("err " + result.responseText);
                                            }
                                        })
                                }
                    </script>
                </div>
            </div>
        </div>
    </div>
}
<script src="~/js/jquery-3.1.1.slim.min.js"></script>